<% layout('/layouts/default.html', {title: 'common_maintenance_type管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('common_maintenance_type管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('common:maintenanceType:edit')){ %>
					<a href="${ctx}/common/maintenanceType/form" class="btn btn-default btnTool" title="${text('新增common_maintenance_type')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${maintenanceType}" action="${ctx}/common/maintenanceType/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('id')}：</label>
					<div class="control-inline">
						<#form:input path="id" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('维保记录主键')}：</label>
					<div class="control-inline">
						<#form:input path="maintenanceId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('repair_date')}：</label>
					<div class="control-inline">
						<#form:input path="repairDate" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('mileage')}：</label>
					<div class="control-inline">
						<#form:input path="mileage" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('main_tain_date')}：</label>
					<div class="control-inline">
						<#form:input path="mainTainDate" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('type')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('外观覆盖件详细维修记录,重要组成部件详细维修记录,该车所有的详细维修记录')}：</label>
					<div class="control-inline">
						<#form:input path="maintenanceType" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("id")}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/common/maintenanceType/form?id='+row.id+'" class="btnList" data-title="${text("编辑common_maintenance_type")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("维保记录主键")}', name:'maintenanceId', index:'a.maintenance_id', width:150, align:"left"},
		{header:'${text("repair_date")}', name:'repairDate', index:'a.repair_date', width:150, align:"left"},
		{header:'${text("mileage")}', name:'mileage', index:'a.mileage', width:150, align:"left"},
		{header:'${text("main_tain_date")}', name:'mainTainDate', index:'a.main_tain_date', width:150, align:"left"},
		{header:'${text("type")}', name:'type', index:'a.type', width:150, align:"left"},
		{header:'${text("外观覆盖件详细维修记录,重要组成部件详细维修记录,该车所有的详细维修记录")}', name:'maintenanceType', index:'a.maintenance_type', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('common:maintenanceType:edit')){ %>
				actions.push('<a href="${ctx}/common/maintenanceType/form?id='+row.id+'" class="btnList" title="${text("编辑common_maintenance_type")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/common/maintenanceType/delete?id='+row.id+'" class="btnList" title="${text("删除common_maintenance_type")}" data-confirm="${text("确认要删除该common_maintenance_type吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>