<% layout('/layouts/default.html', {title: '车辆品牌表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('车辆品牌表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('common:vehicleBrand:edit')){ %>
					<a href="${ctx}/common/vehicleBrand/form" class="btn btn-default btnTool" title="${text('新增车辆品牌表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${vehicleBrand}" action="${ctx}/common/vehicleBrand/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('首字母')}：</label>
					<div class="control-inline">
						<#form:input path="shouzimu" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌名称')}：</label>
					<div class="control-inline">
						<#form:input path="pinpai" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('pinpai_id')}：</label>
					<div class="control-inline">
						<#form:input path="pinpaiId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌logo路径')}：</label>
					<div class="control-inline">
						<#form:input path="pinpaiLogo" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="gengxinshijian" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("首字母")}', name:'shouzimu', index:'a.shouzimu', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/common/vehicleBrand/form?id='+row.id+'" class="btnList" data-title="${text("编辑车辆品牌表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("品牌名称")}', name:'pinpai', index:'a.pinpai', width:150, align:"left"},
		{header:'${text("pinpai_id")}', name:'pinpaiId', index:'a.pinpai_id', width:150, align:"left"},
		{header:'${text("品牌logo路径")}', name:'pinpaiLogo', index:'a.pinpai_logo', width:150, align:"left"},
		{header:'${text("更新时间")}', name:'gengxinshijian', index:'a.gengxinshijian', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('common:vehicleBrand:edit')){ %>
				actions.push('<a href="${ctx}/common/vehicleBrand/form?id='+row.id+'" class="btnList" title="${text("编辑车辆品牌表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/common/vehicleBrand/delete?id='+row.id+'" class="btnList" title="${text("删除车辆品牌表")}" data-confirm="${text("确认要删除该车辆品牌表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>