<% layout('/layouts/default.html', {title: '出险记录详情表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('出险记录详情表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('common:vehicleDangerDetail:edit')){ %>
					<a href="${ctx}/common/vehicleDangerDetail/form" class="btn btn-default btnTool" title="${text('新增出险记录详情表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${vehicleDangerDetail}" action="${ctx}/common/vehicleDangerDetail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('出险记录表id')}：</label>
					<div class="control-inline">
						<#form:input path="commonVehicleDangerId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('理赔项类型')}：</label>
					<div class="control-inline">
						<#form:input path="dangerSingleType" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('理赔名称')}：</label>
					<div class="control-inline">
						<#form:input path="dangerSingleName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('理赔金额')}：</label>
					<div class="control-inline">
						<#form:input path="dangerSingleMoney" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("出险记录表id")}', name:'commonVehicleDangerId', index:'a.common_vehicle_danger_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/common/vehicleDangerDetail/form?id='+row.id+'" class="btnList" data-title="${text("编辑出险记录详情表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("理赔项类型")}', name:'dangerSingleType', index:'a.danger_single_type', width:150, align:"left"},
		{header:'${text("理赔名称")}', name:'dangerSingleName', index:'a.danger_single_name', width:150, align:"left"},
		{header:'${text("理赔金额")}', name:'dangerSingleMoney', index:'a.danger_single_money', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('common:vehicleDangerDetail:edit')){ %>
				actions.push('<a href="${ctx}/common/vehicleDangerDetail/form?id='+row.id+'" class="btnList" title="${text("编辑出险记录详情表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/common/vehicleDangerDetail/delete?id='+row.id+'" class="btnList" title="${text("删除出险记录详情表")}" data-confirm="${text("确认要删除该出险记录详情表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>