<% layout('/layouts/default.html', {title: '重置成本法管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('重置成本法管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('aa:calculateReplaceCost:edit')){ %>
					<a href="${ctx}/aa/calculateReplaceCost/form" class="btn btn-default btnTool" title="${text('新增重置成本法')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${calculateReplaceCost}" action="${ctx}/aa/calculateReplaceCost/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('外键id')}：</label>
					<div class="control-inline">
						<#form:input path="calculateId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('新车销售价')}：</label>
					<div class="control-inline">
						<#form:input path="salePrice" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车辆购置税')}：</label>
					<div class="control-inline">
						<#form:input path="purchaseTax" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('牌照费')}：</label>
					<div class="control-inline">
						<#form:input path="licenseFee" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新重置成本')}：</label>
					<div class="control-inline">
						<#form:input path="updateRepeatCost" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('规定使用年限')}：</label>
					<div class="control-inline">
						<#form:input path="provideUseYear" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('技术鉴定成新率系数')}：</label>
					<div class="control-inline">
						<#form:input path="tecNewRateCoefficient" maxlength="8" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('技术鉴定成新率')}：</label>
					<div class="control-inline">
						<#form:input path="tecNewRate" maxlength="8" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('年限成新率系数')}：</label>
					<div class="control-inline">
						<#form:input path="yearNewRateCoefficient" maxlength="8" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('年限成新率')}：</label>
					<div class="control-inline">
						<#form:input path="yearNewRate" maxlength="8" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('综合成新率')}：</label>
					<div class="control-inline">
						<#form:input path="allNewRate" maxlength="8" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('评估价格')}：</label>
					<div class="control-inline">
						<#form:input path="price" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("外键id")}', name:'calculateId', index:'a.calculate_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/aa/calculateReplaceCost/form?id='+row.id+'" class="btnList" data-title="${text("编辑重置成本法")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("新车销售价")}', name:'salePrice', index:'a.sale_price', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("车辆购置税")}', name:'purchaseTax', index:'a.purchase_tax', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("牌照费")}', name:'licenseFee', index:'a.license_fee', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("更新重置成本")}', name:'updateRepeatCost', index:'a.update_repeat_cost', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("规定使用年限")}', name:'provideUseYear', index:'a.provide_use_year', width:150, align:"left"},
		{header:'${text("技术鉴定成新率系数")}', name:'tecNewRateCoefficient', index:'a.tec_new_rate_coefficient', width:150, align:"left"},
		{header:'${text("技术鉴定成新率")}', name:'tecNewRate', index:'a.tec_new_rate', width:150, align:"left"},
		{header:'${text("年限成新率系数")}', name:'yearNewRateCoefficient', index:'a.year_new_rate_coefficient', width:150, align:"left"},
		{header:'${text("年限成新率")}', name:'yearNewRate', index:'a.year_new_rate', width:150, align:"left"},
		{header:'${text("综合成新率")}', name:'allNewRate', index:'a.all_new_rate', width:150, align:"left"},
		{header:'${text("评估价格")}', name:'price', index:'a.price', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('aa:calculateReplaceCost:edit')){ %>
				actions.push('<a href="${ctx}/aa/calculateReplaceCost/form?id='+row.id+'" class="btnList" title="${text("编辑重置成本法")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/aa/calculateReplaceCost/delete?id='+row.id+'" class="btnList" title="${text("删除重置成本法")}" data-confirm="${text("确认要删除该重置成本法吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>