<% layout('/layouts/default.html', {title: '检查可交易车辆管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(checkTradableVehicles.isNewRecord ? '新增检查可交易车辆' : '编辑检查可交易车辆')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${checkTradableVehicles}" action="${ctx}/aa/checkTradableVehicles/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('外键id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="examUserId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('试卷id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="paperId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('车辆维保记录')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="vehicleMaintenance" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('出险记录')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compensationRecord" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否达到国家强制报废标准')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check1" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否为抵押期间或海关监管期间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check2" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否为人民法院、检察院、行政执法等部门依法查封、扣押期间的车辆')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check3" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否为通过盗窃、抢劫、诈骗等违法犯罪手段获得的车辆')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check4" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('发动机号与机动车登记证书登记号码是否一致，且无凿改痕迹')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check5" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('车辆识别代号或车架号码与机动车登记证书登记号码是否一致，且无凿改痕迹')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check6" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否走私、非法拼组装车辆')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check7" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否法律法规禁止经营的车辆')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="check8" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否可交易')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isTrade" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否事故车')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isAccident" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('归档时效性')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fileDuring" maxlength="256" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('aa:checkTradableVehicles:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>