<% layout('/layouts/default.html', {title: '学生成绩详情表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('学生成绩详情表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('aa:examResultsDetail:edit')){ %>
					<a href="${ctx}/aa/examResultsDetail/form" class="btn btn-default btnTool" title="${text('新增学生成绩详情表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${examResultsDetail}" action="${ctx}/aa/examResultsDetail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('外键id')}：</label>
					<div class="control-inline">
						<#form:input path="scoreClassifyId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('外键id')}：</label>
					<div class="control-inline">
						<#form:input path="examUserId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('评分点')}：</label>
					<div class="control-inline">
						<#form:input path="scorePoints" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('分值项-分值')}：</label>
					<div class="control-inline">
						<#form:input path="score" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('学生答案')}：</label>
					<div class="control-inline">
						<#form:input path="studentAnswer" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('老师答案')}：</label>
					<div class="control-inline">
						<#form:input path="teacherAnswer" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('学生回答是否正确')}：</label>
					<div class="control-inline">
						<#form:input path="rightOrWrong" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("外键id")}', name:'scoreClassifyId', index:'a.score_classify_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/aa/examResultsDetail/form?id='+row.id+'" class="btnList" data-title="${text("编辑学生成绩详情表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("外键id")}', name:'examUserId', index:'a.exam_user_id', width:150, align:"left"},
		{header:'${text("评分点")}', name:'scorePoints', index:'a.score_points', width:150, align:"left"},
		{header:'${text("分值项-分值")}', name:'score', index:'a.score', width:150, align:"left"},
		{header:'${text("学生答案")}', name:'studentAnswer', index:'a.student_answer', width:150, align:"left"},
		{header:'${text("老师答案")}', name:'teacherAnswer', index:'a.teacher_answer', width:150, align:"left"},
		{header:'${text("学生回答是否正确")}', name:'rightOrWrong', index:'a.right_or_wrong', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('aa:examResultsDetail:edit')){ %>
				actions.push('<a href="${ctx}/aa/examResultsDetail/form?id='+row.id+'" class="btnList" title="${text("编辑学生成绩详情表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/aa/examResultsDetail/delete?id='+row.id+'" class="btnList" title="${text("删除学生成绩详情表")}" data-confirm="${text("确认要删除该学生成绩详情表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>